.container {
    display: flex;
    flex-direction: row;
    max-width: 1240px;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 0;
    column-gap: 68px;
    min-height: 60vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu>a {
    text-decoration: none;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 320px;
}

.description {
    max-width: 320px;
}

.active {
    color: #fff;
}