.header {
    max-width: 100%;
    background-color: #1C1C21;
    box-sizing: border-box;
    margin: 0 auto;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1280px;
    z-index: 5;
}

.list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.logo__wrapper {
    display: flex;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

.menu__item {
    display: grid;
    grid-template-columns: repeat(2, -webkit-max-content);
    grid-template-columns: repeat(2, max-content);
    cursor: pointer;
    color: #fff;
    box-sizing: border-box;
}

.menu__item>a {
    text-decoration: none;
    display: flex;
    align-items: center;
    column-gap: 8px;
    transition: ease .2s;
}

.active {
    color: #F2F2F3;
    transition: ease .2s;
}

.active>svg {
    transition: ease .2s;
    fill: white;
}